body {
  background-color: white;
  background-image: url("checkeredfloor.jpg");
  background-attachment: fixed;
  background-size: 100% 50%;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-bottom: 0px;
}

#gameStage {
  justify-content: center;
  text-align: center;
  bottom: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

.explanation {
  height: 400px;
  overflow-y: scroll;
  height: 400px;
  text-align: center;
  color: #2a2b2b;
  font-family: 'Trirong', serif;
}
h1 {
  font-size: 35px;
  margin-bottom: 10px;
}


h3 {
  text-align: center;
  font-size: 22px;
  margin-bottom: 20px;
}

.door {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  font-size: 25px;
  color: #E0DFDE;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  background-size: contain;
  width: 189px;
  height: 297px;
  margin: 20px;
}

.closed {
  background-image: url("door.png");
}

.goat {
  margin-top: 100px;
  background-image: url("goat.jpg");
}

.prize {
  margin-top: 200px;
  background-image: url("car.jpg");
}

.selected {
  border: solid #07ba87 7px;
  border-radius: 20px;
  background-color: #07ba87;
}

.form {
  height: 50px;
  width: 300px;
  border: solid red;
}
#scoreBoard {
  height: 50px;
  width: 300px;
  border: solid green;
  margin: 50px;
  padding: 10px;
}

#stuck, #switched {
  margin: 5px;
}
