body {
  background-color: white;
  background-image: url("checkeredfloor.jpg");
  background-attachment: fixed;
  background-size: 100% 50%;
  background-repeat: repeat-x;
  background-position: bottom;
  margin-bottom: 0px;
}

#gameStage {
  justify-content: center;
  text-align: center;
  bottom: 0;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
}

h1 {
  text-align: center;
  font-size: 70px;
  color: black;
  font-family: 'Permanent Marker', cursive;
}

.door {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  font-size: 25px;
  color: #E0DFDE;
  font-family: 'Shadows Into Light', cursive;
  font-weight: bolder;
  background-size: contain;
  width: 190px;
  height: 300px;
  margin: 20px;
  background-image: url("door.png");
  border: solid black 5px;
}

.selected {
  border: solid black 5px;
}

img {
  height: 100px;
  width: 100px;
}

.form {
  height: 50px;
  width: 300px;
  border: solid red;
}
#scoreBoard {
  height: 50px;
  width: 300px;
  border: solid green;
  margin: 50px;
  padding: 10px;
}

#stuck, #switched {
  margin: 5px;
}
